<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to image_tag("furima-logo-color.png", class:"furima-icon"), "/" %>
  </div>
  <div class='nav'>
    <ul class='lists-right'>
      <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, user_path(current_user), class: "user-nickname" %></li> 
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li> 
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %> 
    </ul>
  </div>
  <h1><%= @user.nickname %>さんのページ</h1>
  <%= link_to 'カードを登録する', new_user_card_path(current_user) %>
  <div class="Card__title">
    <h2>カード情報</h2>
    <% if @card.present? %>
      <div class="Card_info">
        【カード番号】
        <br>
        <%= "**** **** **** " + @card[:last4] %>
        <br>
        【有効期限】
        <br>
        <%= @card[:exp_month] %>
        /
        <%= @card[:exp_year] %>
      </div>
    <% else %>
      <div class="Card_info">
        カードは登録されていません
      </div>
    <% end %>
  </div>
</header>





